.project__modal{

    position: fixed;
    inset: 0;
    background-color: hsla(var(--second-hue),28%,16%,.9);
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    transition: .4s;
    z-index: var(--z-modal);
    overflow: hidden;
    
}
.project__modal .bar {
    border-bottom: 1px solid #000;
    display: block;
    margin: 1rem auto 1.5rem;
    width: 80%;
}

.project__modal-content{
    background-color: var(--body-color);
    position: relative;
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
    width: 90%;
    overflow: hidden;
    position: fixed;
}

.project__modal-title,
.project__modal-location,
.project__modal-projectBy,
.project__modal-client{
    text-align: center;
}

.project__modal-title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
}

.project__modal-list{
    display: grid;
    row-gap: .75rem;
}

.project__modal-projectBy{
    margin-top: 3rem;
}

.project__modal-client{
    color: var(--first-color);
    font-size: 15px;
}
.project__modal-points{
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
}

.project__modal-icon{
    font-size: 1.5rem;
    color: var(--first-color);
}

.project__modal-info{
    font-size: var(--small-font-size);
}

.project__modal-close{
    position: absolute;
    top: 1.5em;
    right: 1.5rem;
    cursor: pointer;
}

@media screen and (min-width:750px) {
    .project__modal-content{
        width: 550px;
    }
}