.contact__container{
    row-gap: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
}

.contact__title{
    text-align: center;
    font-size: var(--h3-font-size);
    

}

.form__title{
    padding-bottom: 1rem;
}

.contact__info{
    display: grid;
    gap: 1rem;
    
}

.contact__card{
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
    margin-top: 1.5rem;
    /* box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.contact__card-icon{
    font-size:2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data{
font-size: var(--small-font-size);
}

.contact__card-title{
    font-weight: var(--font-medium);
}

.contact__card-data{
    display: block;
    margin-bottom: .75rem;
}

.contact__button{
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
}

.contact__button:hover .contact__button-icon{
    transform: translateX(.25rem);
}

.contact__button-icon{
    font-size: 1rem;
    transition: .4s;
}


.contact__form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background: none;
    color: var(--text-color);
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}

.contact__form-tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--small-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact__form-area{
    height: 11rem;
}

.contact__form-area textarea{
    resize: none;
}


.button{
  display: inline;
  background-color: var(--first-color);
  color:var(--body-color);
  padding: .75rem 1rem;
  width: 10rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: 0.5s;
  margin: 0 1rem;
  text-align: center;
}

.button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

 .toast{
  position: fixed;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border-left: 6px solid #51abf6;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 10000;
}

.toast.active{
  transform: translateX(0%);
}

.toast .toast-content{
  display: flex;
  align-items: center;
}

.toast-content .check{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #51abf6;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message{
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text{
  font-size: 20px;
  font-weight: 400;;
  color: #666666;
}

.message .text.text-1{
  font-weight: 600;
  color: #333;
}

.toast .close{
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover{
  opacity: 1;
}

.toast .progress{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #51abf6;
}

.progress.active:before{
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100%{
      right: 100%;
  }
}

@media screen and (max-width: 400px) {
  .message .text{
    font-size: 12px;
  }
}

@media screen and (min-width: 576px) {
    .contact__info{
    grid-template-columns: 300px;
    justify-content: center;
    }
    .contact__form{
        width: 360px;
        margin: 0 auto;
    }
    .contact__card{
      width: 300px;
    }
}

@media screen and (min-width: 767px) {
    .contact__container{
        grid-template-columns: repeat(2,max-content);
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 992px) {
    .contact__container{
        column-gap: 6rem;
    }
}